
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}


.dashboard-container {
    width: 100%;
    max-width: 900px; 
    padding: 20px;
}

#search-form {
    background: white;
    padding: 15px 25px;
    border-radius: 50px; 
    display: flex;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05); 
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search-icon {
    color: #a0aec0;
    margin-right: 15px;
    font-size: 1.2rem;
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.1rem;
    color: #4a5568;
}


.weather-hero {
    text-align: center;
    margin-bottom: 50px;
}

#city-name {
    font-size: 2.5rem;
    color: #4a5568;
    margin-bottom: 10px;
    font-weight: 600;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#temp {
    font-size: 7rem; 
    font-weight: 700;
    color: #2d3748;
    line-height: 1;
}

#condition-text {
    font-size: 1.5rem;
    color: #718096;
    text-align: left;
    line-height: 1.2;
    font-weight: 500;
}


.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px); 
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-card .icon {
    font-size: 1.5rem;
    color: #718096;
    background: #edf2f7;
    padding: 12px;
    border-radius: 12px;
}

.stat-card .label {
    font-size: 0.9rem;
    color: #a0aec0;
    margin-bottom: 4px;
}

.stat-card .value {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2d3748;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 Columns */
    gap: 15px;
}

.forecast-card {
    text-align: center;
    padding: 25px 15px;
}

.forecast-card .day {
    font-size: 1rem;
    color: #4a5568;
    margin-bottom: 15px;
}

.forecast-card .weather-icon {
    font-size: 2rem;
    color: #90cdf4; 
    margin-bottom: 15px;
}

.forecast-card .temp-range {
    font-size: 0.95rem;
    font-weight: 600;
    color: #2d3748;
}

/*Responsive Design*/
@media (max-width: 768px) {
    .stats-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .forecast-grid {
        grid-template-columns: repeat(3, 1fr); 
        overflow-x: auto; 
    }
}

@media (max-width: 480px) {
    .stats-grid {
        grid-template-columns: 1fr; 
    }
    .forecast-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    #temp {
        font-size: 5rem;
    }
}